.hero {
  padding-top: 40px;
  padding-bottom: 100px;
}

.hero-wrapper {
  display: flex;
}

.hero-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 270px;
  color: rgba($main-text, 0.7);
  list-style-type: none;
}

.cotegories {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  color: #fff;
  background-color: $main-text;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  
  &:hover {
    color: rgba($hover-text, 0.8);
  }
}

.hamburger {
  width: 17px;
  height: 22px;
  margin-right: 15px;
}

.hero-img {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  img {
    display: block;
    flex-grow: 0;
  }
}

.hero-item {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  padding: 10px 25px;
  width: 100%;
  font-size: 15px;
  border-left: 1px solid rgba($main-text, 0.2);
  border-right: 1px solid rgba($main-text, 0.2);
  border-bottom: 1px solid rgba($main-text, 0.2);
  letter-spacing: 1px;

  &::before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: #ccc;
  }

  &::after {
    content: ">";
    margin-left: auto;
    
  }

  &:hover {
    color: $hover-text;
  }
}

.social-link-wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  transition: transform 0.7s ease;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.box-hidden {
  transform-origin: left;
  transform: translateX(-100%);
}

.icon-follower {
  width: 20px;
  height: 20px;
  color: #fff;
}

.social-wrapper {
  position: fixed;
  top: 40%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 200px;
  background-color: rgba(92, 72, 72, 0.5);
  transition: transform 0.5s ease;

  a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    text-decoration: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  width: 100%;
  background-color: #fff;
}

.social-block {
  transform: translateX(-100%);
}

.icon-youtube{
  width: 20px;
  height: 20px;
  color: #000;

  &:hover {
    color: #cd201f; 
  }
}

.icon-instagram{
  width: 20px;
  height: 20px;
  color: #000;
  border-radius: 7px;
  
  &:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
  }
}

.icon-telegram{
  width: 20px;
  height: 20px;
  color: #000;
  
  &:hover {
    color: #0088cc;
  }
}

.icon-facebook{
  width: 20px;
  height: 20px;
  color: #000;
  
  &:hover {
    color: #4267B2;
  }
}
